@font-face {
  font-family: 'Fk Grotesk';
  src:       url('../fonts/Fk Grotesk mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fk Grotesk';
  src:       url('../fonts/Fk Grotesk italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Fk Grotesk';
  src:       url('../fonts/Fk Grotesk medium.woff') format('woff');
  font-weight: 600;
  font-style: bold;
}
